In [1]:
import numpy as np

In [3]:
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [4]:
np.zeros_like(ones)

array([[0., 0., 0.],
       [0., 0., 0.]])

In [6]:
np.linspace(0,100,10)

array([  0.        ,  11.11111111,  22.22222222,  33.33333333,
        44.44444444,  55.55555556,  66.66666667,  77.77777778,
        88.88888889, 100.        ])

In [7]:
np.arange(0,30, step=2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [8]:
np.logspace(0,2,3)

array([  1.,  10., 100.])

In [10]:
np.random.normal(0,1,(4,5))

array([[ 0.90392362,  0.77453277,  1.9393552 ,  0.73421771, -2.23710954],
       [-0.73628508,  0.31683435,  0.1715277 ,  1.60143288, -1.39589968],
       [-0.05829435, -0.66739403, -0.45162732, -1.57370626, -1.34739575],
       [-0.22814086,  0.96862999,  0.89144513, -1.30887671,  0.65869743]])

In [12]:
np.random.uniform(0,1,1000000000)

array([0.35234372, 0.25002986, 0.85325744, ..., 0.85907381, 0.02335561,
       0.55398203])

In [17]:
temp = np.array([['zhangsan', 'lisi'],['lisi','wangwu'],['zhangsan']])
temp = [j for i in temp for j in i]
np.unique(temp)

array(['lisi', 'wangwu', 'zhangsan'], dtype='<U8')

In [26]:
score = np.random.randint(40, 90, 100)
score

array([86, 48, 42, 78, 44, 70, 44, 52, 77, 47, 73, 58, 42, 75, 70, 47, 40,
       40, 86, 50, 74, 67, 66, 65, 57, 73, 80, 57, 42, 58, 64, 69, 69, 48,
       69, 64, 42, 75, 55, 53, 88, 59, 47, 57, 50, 75, 77, 53, 80, 62, 67,
       51, 85, 48, 64, 86, 50, 76, 79, 82, 40, 78, 47, 83, 73, 77, 88, 84,
       71, 88, 49, 49, 80, 47, 56, 70, 85, 48, 46, 73, 78, 46, 63, 76, 44,
       41, 87, 66, 50, 49, 55, 78, 50, 63, 43, 42, 43, 42, 75, 40])

In [28]:
np.all(score>60)

False

In [29]:
score

array([86, 48, 42, 78, 44, 70, 44, 52, 77, 47, 73, 58, 42, 75, 70, 47, 40,
       40, 86, 50, 74, 67, 66, 65, 57, 73, 80, 57, 42, 58, 64, 69, 69, 48,
       69, 64, 42, 75, 55, 53, 88, 59, 47, 57, 50, 75, 77, 53, 80, 62, 67,
       51, 85, 48, 64, 86, 50, 76, 79, 82, 40, 78, 47, 83, 73, 77, 88, 84,
       71, 88, 49, 49, 80, 47, 56, 70, 85, 48, 46, 73, 78, 46, 63, 76, 44,
       41, 87, 66, 50, 49, 55, 78, 50, 63, 43, 42, 43, 42, 75, 40])

In [31]:
np.where(score>60, 100, 0)

array([100,   0,   0, 100,   0, 100,   0,   0, 100,   0, 100,   0,   0,
       100, 100,   0,   0,   0, 100,   0, 100, 100, 100, 100,   0, 100,
       100,   0,   0,   0, 100, 100, 100,   0, 100, 100,   0, 100,   0,
         0, 100,   0,   0,   0,   0, 100, 100,   0, 100, 100, 100,   0,
       100,   0, 100, 100,   0, 100, 100, 100,   0, 100,   0, 100, 100,
       100, 100, 100, 100, 100,   0,   0, 100,   0,   0, 100, 100,   0,
         0, 100, 100,   0, 100, 100,   0,   0, 100, 100,   0,   0,   0,
       100,   0, 100,   0,   0,   0,   0, 100,   0])

In [33]:
score = np.random.randint(40, 100, [10, 10])
score

array([[90, 75, 46, 54, 40, 62, 77, 61, 86, 56],
       [70, 82, 48, 90, 72, 68, 74, 46, 69, 83],
       [47, 40, 82, 73, 71, 64, 51, 54, 84, 43],
       [56, 59, 57, 77, 53, 91, 49, 71, 78, 73],
       [78, 97, 72, 96, 44, 79, 92, 54, 77, 86],
       [91, 79, 62, 47, 70, 96, 47, 70, 80, 81],
       [59, 90, 45, 80, 59, 49, 57, 64, 45, 94],
       [75, 42, 66, 95, 77, 75, 56, 42, 82, 71],
       [83, 90, 53, 40, 76, 61, 84, 72, 47, 96],
       [91, 44, 58, 41, 74, 49, 51, 61, 78, 77]])

In [36]:
np.where(np.logical_and(score >60 , score < 90), 1, 0)

array([[0, 1, 0, 0, 0, 1, 1, 1, 1, 0],
       [1, 1, 0, 0, 1, 1, 1, 0, 1, 1],
       [0, 0, 1, 1, 1, 1, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 0, 1, 1, 1],
       [1, 0, 1, 0, 0, 1, 0, 0, 1, 1],
       [0, 1, 1, 0, 1, 0, 0, 1, 1, 1],
       [0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 1, 1, 0, 0, 1, 1],
       [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 1, 1, 1]])

In [37]:
np.where(np.logical_or(score>90, score<60), 1, 0)

array([[0, 0, 1, 1, 1, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0, 0, 1, 0, 0],
       [1, 1, 0, 0, 0, 0, 1, 1, 0, 1],
       [1, 1, 1, 0, 1, 1, 1, 0, 0, 0],
       [0, 1, 0, 1, 1, 0, 1, 1, 0, 0],
       [1, 0, 0, 1, 0, 1, 1, 0, 0, 0],
       [1, 0, 1, 0, 1, 1, 1, 0, 1, 1],
       [0, 1, 0, 1, 0, 0, 1, 1, 0, 0],
       [0, 0, 1, 1, 0, 0, 0, 0, 1, 1],
       [1, 1, 1, 1, 0, 1, 1, 0, 0, 0]])

In [38]:
import numpy as np
import pandas as pd
import random

In [47]:
score = np.random.randint(46, 60, [10, 5])
score_df = pd.DataFrame(score)

subject = ['math', 'physics', 'chemical', 'bio', 'literature']
index = ['stu'+str(i) for i in range(score_df.shape[0])]
data = pd.DataFrame(score, columns=subject, index=index)
data

      math  physics  chemical  bio  literature
stu0    46       50        53   58          59
stu1    47       47        51   56          56
stu2    56       46        46   50          53
stu3    59       58        50   47          49
stu4    59       58        46   59          47
stu5    52       50        57   58          47
stu6    57       46        58   57          50
stu7    59       46        48   50          59
stu8    57       50        52   59          51
stu9    49       47        52   59          57

In [50]:
data.reset_index(drop=False)

  index  math  physics  chemical  bio  literature
0  stu0    46       50        53   58          59
1  stu1    47       47        51   56          56
2  stu2    56       46        46   50          53
3  stu3    59       58        50   47          49
4  stu4    59       58        46   59          47
5  stu5    52       50        57   58          47
6  stu6    57       46        58   57          50
7  stu7    59       46        48   50          59
8  stu8    57       50        52   59          51
9  stu9    49       47        52   59          57